@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1b1b;
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: .5rem;
  border-radius: .15rem;
  background: #009875;
  border: 2px solid white;
  color: white;
}

input {
  border-radius: .25rem;
  padding: .5rem;
}